body {
    background-color: skyblue;
}
/*body {*/
/*    background-color: #fff;*/
/*}*/
.navbar-custom {
    background-color: #222;
    color: #fff;
}
.login-box {
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.login-box h2 {
    font-weight: bold;
    margin-bottom: 20px;
}
.color-bar {
    height: 5px;
    margin-bottom: 20px;
    background: linear-gradient(to right, #a8e063, #fefcbf, #f6ae2d, #f26419, #d291bc, #7f7fff, #56ccf2);
}
