<form class="js-new-rep-log-form d-flex flex-wrap align-items-end gap-2"
      novalidate
      data-url="{{ path('rep_log_new') }}">

    <div class="form-group flex-fill">
        <label class="sr-only" for="rep_log_item">What did you lift?</label>
        <select id="rep_log_item"
                name="item"
                required
                class="form-control">
            <option value="" selected>What did you lift?</option>
            <option value="cat">Cat</option>
            <option value="fat_cat">Big Fat Cat</option>
            <option value="laptop">My Laptop</option>
            <option value="coffee_cup">Coffee Cup</option>
        </select>
    </div>

    <div class="form-group flex-fill">
        <label class="sr-only" for="rep_log_reps">How many times?</label>
        <input type="number" id="rep_log_reps"
               name="reps"
               required
               placeholder="How many times?"
               class="form-control"/>
    </div>

    <button type="submit" class="btn btn-primary h-100">I Lifted it!</button>
</form>
